<header class="header sticky-top">
    <nav class="navbar navbar-fixed-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a [routerLink]="['/']" class="navbar-brand"> <img src="https://cdn.theforage.com/vinternships/companyassets/m7GusTmDpDcGMcp28/a7QBYATxBtRiExiZ8/1625078690042/DEL_SEC_RGB_aw%20(White%20Logo)v2.png" height="24px" alt="Deloitte"> </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>


            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a [routerLink]="['/products']" class="nav-link">Products</a>
                    </li>
                    <li class="nav-item">
                        <a [routerLink]="['/register']" class="nav-link">Register</a>
                    </li>
                    <li class="nav-item">
                        <a [routerLink]="['/login']" class="nav-link">Login</a>
                    </li>
                </ul>
            </div>
            <div>
                <form class="form-inline">
                    <app-search></app-search>
                </form>
            </div>
            <div>
                <button routerLink="cart" class="btn btn-outline-light me-3">
                    <i style="font-size: 20px;" class="fa fa-shopping-cart"></i>
                    <div style="font-size: 12px;" class="badge bg-dark">{{totalItem}}</div>
                </button>
            </div>

            <div>
                <button routerLink="account" class="btn btn-outline-light bg-dark me-3">
                    <i style="font-size: 20px; color:white;" class="fa fa-user"></i>
                </button>
            </div>

            <div>
                <button routerLink="logout" class="btn btn-outline-light bg-dark">
                    <i style="font-size: 20px; color:white;" class="fa fa-sign-out-alt"></i>
                </button>
            </div>

        </div>
    </nav>
</header>