<div class="container">
    <ng-container *ngIf="products.length !=0">
        <div class="container mt-5">
            <div class="card-table">
                <div class="cart-product">
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th>Sr.No</th>
                                <th>Product Name</th>
                                <th>Product Image</th>
                                <th>Description</th>
                                <th>Price</th>
                                <th>Total</th>
                                <th>Action</th>
                            </tr>
                        </thead>
    
                        <tbody>
                            <tr *ngFor="let item of products; let i = index">
                                <td>{{i+1}}</td>
                                <td>{{item.productName}}</td>
                                <td><img style="width: 120px;" src="{{item.image}}" alt=""></td>
                                <td style="width: 25%;">{{item.description}}</td>
                                <th style="width: 12%;">{{item.price}}</th>
                                <td style="width: 20%;">{{item.price}}</td>
                                <td>
                                    <button (click)="removeItem(item)" class="btn btn-dark"><i class="fas fa-trash-alt"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5"></td>
                                <td><strong>Grand Total: ₹{{grandTotal}}</strong></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <td><button (click)="emptycart()" class="btn btn-dark mt-5 me-5">Empty Cart</button></td>
            <td><button routerLink="/products" class="btn btn-success mt-5 me-5">Shop More</button></td>
            <td><button class="btn btn-dark mt-5 me-5">Checkout</button></td>
        </div>
    </ng-container>
    
    <ng-container *ngIf="products.length ==0">
        <div class="container">
            <div class="card">
                <h3 class="card-title">My Cart</h3>
            </div>
            <div class="center">
                <img src="https://rukminim1.flixcart.com/www/800/800/promos/16/05/2019/d438a32e-765a-4d8b-b4a6-520b560971e8.png?q=90" alt="">
                <h4>Your cart is empty!</h4>
                <h6>Add item to it now</h6>
                <button routerLink="/products" class="btn btn-dark">Shop Now</button>
            </div>
        </div>
    </ng-container>
</div>