<div style="background-image: 
url('https://resources.deloitte.com/_api/v2.1/sites/resources.deloitte.com,70068a7f-ec05-45dc-8839-c687c92f3272,823dcaac-0b83-4015-a37f-897dd80fc1cb/lists/676be606-88e7-4f62-a841-e629037c288f/items/a2bad36e-c93e-4e61-a47e-51121445a090/driveItem/thumbnails/0/c1600x99999/content?preferNoRedirect=true&prefer=extendCacheMaxAge&clientType=modernWebPart');
background-repeat: no-repeat; ">
    <div style="min-height: 100vh; text-shadow: 2px 2px #cccccc;" class="container pt-3">
        <h1 class="display-1 pt-5"><strong>My Technology</strong></h1>
        <h5>Welcome to Deloitte My Technology application.</h5>
    </div>
</div>