<div class="container text-center pt-3">
    <h1 class="head pt-2 mt-2">Account</h1>
    <div class="container mt-lg-3" id="about">
        <div class="row">
            <div class="col-lg-6 mb-2">
                <img src="https://appcenterfiles.deloitteresources.com/2910/42802.png" width="100%" alt=""> 
            </div>
            <div class="col-lg-6 mb-2 flex-column d-flex justify-content-center align-items-flex-start" style="height: 400px;">
                <h1 class="display-1 pt-5"><strong>Hello {{userName}}</strong></h1>
            </div>
        </div>
    </div>
</div> 